
# but do not ignore the .gitignore file
!.gitignore
!README.md

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 2/*
# ignore files and sub dirs in the directory
/Laboratorio\ 2/*/*
# but do not ignore .sv files
!/Laboratorio\ 2/*/*.sv

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 3/*
# ignore files and sub dirs in the directory
/Laboratorio\ 3/*/*
# but do not ignore .sv files
!/Laboratorio\ 3/*/*.sv

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 4
!Laboratorio\ 4/game_logic
# ignore files and sub dirs in the directory
/Laboratorio\ 4/db
/Laboratorio\ 4/incremental_db
/Laboratorio\ 4/output_files
/Laboratorio\ 4/simulation
/Laboratorio\ 4/game_logic/*.bak
# but do not ignore .sv and .txt files
!/Laboratorio\ 4/*.sv
!/Laboratorio\ 4/*.txt
# do not ignore dir (needed due to the above bullet point)
!/Proyecto
!/Proyecto/Memory
!/Proyecto/Processor
!/Proyecto/VGA
# ignore files and sub dirs in the directory
/Proyecto/db
/Proyecto/incremental_db
/Proyecto/output_files
/Proyecto/simulation
# but do not ignore .sv and .txt files
!/Proyecto/*.sv
!/Proyecto/*.txt
