
# but do not ignore the .gitignore file
!.gitignore
!README.md

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 2/*
# ignore files and sub dirs in the directory
/Laboratorio\ 2/*/*
# but do not ignore .sv files
!/Laboratorio\ 2/*/*.sv

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 3/*
# ignore files and sub dirs in the directory
/Laboratorio\ 3/*/*
# but do not ignore .sv files
!/Laboratorio\ 3/*/*.sv

# do not ignore dir (needed due to the above bullet point)
!/Laboratorio\ 4
!Laboratorio\ 4/game_logic
# ignore files and sub dirs in the directory
/Laboratorio\ 4/db
/Laboratorio\ 4/incremental_db
/Laboratorio\ 4/output_files
/Laboratorio\ 4/simulation
/Laboratorio\ 4/game_logic/*.bak
# but do not ignore .sv and .txt files
!/Laboratorio\ 4/*.sv
!/Laboratorio\ 4/*.txt

# do not ignore dir (needed due to the above bullet point)
!/Proyecto\ Final
!Proyecto\ Final/Memory
!Proyecto\ Final/Processor
!Proyecto\ Final/VGA
# ignore files and sub dirs in the directory
/Proyecto\ Final/*.qsf
/Proyecto\ Final/*.qpf
/Proyecto\ Final/*.qws
/Proyecto\ Final/db
/Proyecto\ Final/incremental_db
/Proyecto\ Final/output_files
/Proyecto\ Final/simulation
# but do not ignore .sv and .txt files
!/Proyecto\ Final/*.sv
!/Proyecto\ Final/*.txt
